/*
  Flaticon icon font: Flaticon
  Creation date: 14/09/2018 07:17
  */

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("fonts/Flaticon.woff") format("woff"),
  url("fonts/Flaticon.ttf") format("truetype"),
  url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;

  line-height: 1;



}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  margin-left: 0px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-tooth:before { content: "\f100"; }
.flaticon-dentist-tools:before { content: "\f101"; }
.flaticon-tooth-whitening:before { content: "\f102"; }
.flaticon-dentist-chair:before { content: "\f103"; }
.flaticon-stethoscope:before { content: "\f104"; }
.flaticon-tooth-pliers:before { content: "\f105"; }
.flaticon-first-aid-kit:before { content: "\f106"; }
.flaticon-brackets:before { content: "\f107"; }