/* Base */
body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 1.1rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

::-moz-selection {
    background: #000;
    color: #fff; }

::selection {
    background: #000;
    color: #fff; }

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
a:hover {
    text-decoration: none; }

.text-black {
    color: #000 !important; }

.bg-black {
    background: #000 !important; }

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden; }

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden; }
.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: 0.2s all ease-in-out !important;
    -o-transition: 0.2s all ease-in-out !important;
    transition: 0.2s all ease-in-out !important;
    top: 0;
    letter-spacing: .05em;
    padding: 10px 20px; }
.btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
.btn.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000; }
.btn.btn-sm {
    font-size: 0.9rem; }
.btn.btn-primary {
    font-weight: 300;
    letter-spacing: .2em; }
.btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -2px; }

.bg-black {
    background: #000; }

.form-control {
    height: 47px; }
.form-control:active, .form-control:focus {
    border-color: #f23a2e; }
.form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
    padding: 2.5em 0; }
@media (min-width: 768px) {
    .site-section {
        padding: 5em 0; } }
.site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative; }
.site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #f23a2e; }
.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #f23a2e; }

.border-top {
    border-top: 1px solid #edf0f5 !important; }

.site-footer {
    padding: 2em 0;
    background: #190b0b;
}

.site-footer p {
    color: #fff;
    font-weight: 300;
    font-size: 11pt;
}

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff;
}
.site-footer a, .site-footer li {
    color: #fff;
    font-size: 11pt;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover {
    color: white;
    border-bottom: 1px solid #fff;
}
.site-footer ul li {
    margin-bottom: 10px; }
.site-footer .footer-heading {
    font-size: 20px;
    color: #fff; }

.bg-text-line {
    display: inline;
    background: #000;
    -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
    box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.bg-image {
    background-size: cover;
    background-repeat: no-rpeeat;
    overflow: hidden; }
.bg-image.center {
    background-position: top center; }
.bg-image.fixed {
    background-position: fixed !important; }
.bg-image.overlay, .bg-image.overlay-primary, .bg-image.overlay-info, .bg-image.overlay-success, .bg-image.overlay-warning {
    position: relative; }
.bg-image.overlay:before, .bg-image.overlay-primary:before, .bg-image.overlay-info:before, .bg-image.overlay-success:before, .bg-image.overlay-warning:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
.bg-image.overlay:before {
    background: rgba(0, 0, 0, 0.4); }
.bg-image.overlay-primary:before {
    background: rgba(242, 58, 46, 0.9); }
.bg-image.overlay-info:before {
    background: rgba(23, 162, 184, 0.9); }
.bg-image.overlay-success:before {
    background: rgba(40, 167, 69, 0.9); }
.bg-image.overlay-success:before {
    background: rgba(238, 198, 10, 0.9); }

/* Navbar */
.site-navbar-wrap {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0; }
.site-navbar-wrap a {
    color: #fff; }
.site-navbar-wrap .site-navbar-top {
    font-size: 0.8rem; }

.site-navbar-top, .site-navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.site-navbar .site-logo {
    font-weight: 200; }
.site-navbar .site-logo a {
    font-weight: bold;
    text-shadow: 0 0 4px yellow;
    color: #fff; }
.site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
.site-navbar .site-navigation .site-menu .active > a {
    color: #fff; }
.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block; }
.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 5px; }
.site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    text-decoration: none !important; }
.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #fff; }
.site-navbar .site-navigation .site-menu > li:last-child {
    padding-right: 0; }
.site-navbar .site-navigation .site-menu > li:last-child > a {
    padding-right: 0; }
.site-navbar .site-navigation .site-menu .has-children {
    position: relative; }
.site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px; }
.site-navbar .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon'; }
.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-left: 1px solid #edf0f5;
    border-right: 1px solid #edf0f5;
    border-bottom: 1px solid #edf0f5;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s; }
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute; }
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40; }
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
    color: #fff !important; }
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px; }
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 9px 20px;
    display: block; }
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    background: #f4f5f9;
    color: #25262a; }
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px; }
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0; }
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    background: #f4f5f9;
    color: #25262a; }
.site-navbar .site-navigation .site-menu .has-children a {
    text-transform: uppercase; }
.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #fff; }
.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer; }
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1; }

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px; }
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none; }
.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529; }
.site-mobile-menu .site-nav-wrap a:hover {
    color: #f23a2e; }
.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block; }
.site-mobile-menu .site-nav-wrap li.active > a {
    color: #f23a2e; }
.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%; }
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa; }
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%; }
.site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 20px; }
.site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none; }
.site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block; }
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 16px; }
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0; }
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block; }
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px; }

/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
.site-blocks-cover.overlay {
    position: relative; }
.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4); }
.site-blocks-cover, .site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh); }
.site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
    min-height: 600px;
    height: calc(80vh); }
.site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em; }
.site-blocks-cover h1 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem; }
.site-blocks-cover h1 strong {
    font-weight: 900;
    text-shadow: 0 0 3px yellow;
}
@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2; } }
.site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5; }
.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }

.site-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem; }
@media (min-width: 768px) {
    .site-heading {
        font-size: 3rem; } }
.site-heading strong {
    font-weight: 900; }

.site-block-1 {
    padding-top: 50px; }
@media (min-width: 992px) {
    .site-block-1 {
        padding-top: 0;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%); } }

.site-block-appointment, .bg-light {
    background: #ece8d9 !important; }
.site-block-appointment form, .bg-light form {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }

.text-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5); }

.site-block-feature {
    background: rgba(0, 0, 0, 0.5);
    position: relative; }
.site-block-feature .icon {
    font-size: 50px; }
.site-block-feature h3 {
    font-size: 15px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff; }
.site-block-feature p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem; }
.site-block-feature p:last-child {
    margin-bottom: 0; }

.site-block-feature-2 .icon {
    font-size: 50px;
    position: relative;
    line-height: 1;
}

.site-block-feature-2 {
    padding: 20px;
    background-color: #fff;
}

.site-block-feature-2:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.site-block-feature-2 h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.site-block-3 .row-items {
    height: calc(50% - 15px);
    margin-bottom: 30px; }
.site-block-3 .row-items.last {
    height: calc(50% - 15px);
    margin-bottom: 0; }

.site-block-3 .feature {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    height: 100%; }
.site-block-3 .feature h3 {
    color: #000;
    font-size: 1.4rem; }
.site-block-3 .feature:hover, .site-block-3 .feature:active, .site-block-3 .feature:focus, .site-block-3 .feature.active {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }

.site-block-half .image, .site-block-half .text {
    width: 100%; }
@media (min-width: 992px) {
    .site-block-half .image, .site-block-half .text {
        width: 50%; } }

@media (max-width: 991.98px) {
    .site-block-half .image {
        margin-bottom: 50px; } }

.site-block-half .text {
    padding-left: 15px;
    padding-right: 15px; }
@media (min-width: 992px) {
    .site-block-half .text {
        padding: 4rem; } }
@media (min-width: 1200px) {
    .site-block-half .text {
        padding: 8rem; } }

.site-block-half .bg-image {
    background-position: center center; }
@media (max-width: 991.98px) {
    .site-block-half .bg-image {
        height: 400px; } }

.site-block-half.site-block-video .image {
    position: relative; }
.site-block-half.site-block-video .image .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #f23a2e !important; }
.site-block-half.site-block-video .image .play-button:hover {
    opacity: 1; }
.site-block-half.site-block-video .image .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%); }

.site-block-testimony img {
    max-width: 140px;
    border-radius: 50%; }

.site-block-testimony p {
    font-size: 1.2rem; }

.site-block-testimony.active {
    background: #fff;
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }

.post-entry {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6; }
.post-entry, .post-entry .text {
    border-radius: 4px;
    border-top: none !important; }
.post-entry .date {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .1em; }
.post-entry .image {
    overflow: hidden;
    position: relative; }
.post-entry .image img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
.post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.block-13, .slide-one-item {
    position: relative;
    z-index: 1; }
.block-13 .owl-nav, .slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
.block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #fff; }
.block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
    opacity: .2; }

.slide-one-item.home-slider .owl-nav {
    bottom: 40px; }
@media (min-width: 768px) {
    .slide-one-item.home-slider .owl-nav {
        bottom: 80px; } }

.slide-one-item .owl-item > div {
    height: 300px; }
@media (min-width: 768px) {
    .slide-one-item .owl-item > div {
        height: 800px; } }

.block-12 {
    position: relative; }
.block-12 figure {
    position: relative; }
.block-12 figure:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
.block-12 .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 10; }
.block-12 .text-overlay h2 {
    color: #fff; }
.block-12 .text {
    position: relative;
    top: -100px; }
.block-12 .text .meta {
    text-transform: uppercase;
    padding-left: 40px;
    color: #fff;
    display: block;
    margin-bottom: 20px; }
.block-12 .text .text-inner {
    -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 10px;
    margin-right: 30px;
    position: relative; }
@media (min-width: 576px) {
    .block-12 .text .text-inner {
        padding: 20px; } }
@media (min-width: 768px) {
    .block-12 .text .text-inner {
        padding: 30px 40px; } }
.block-12 .text .text-inner:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    margin-top: -4px;
    background: #f23a2e;
    top: 0; }
.block-12 .text .text-inner .heading {
    font-size: 20px;
    margin: 0;
    padding: 0; }

.block-16 figure {
    position: relative; }
.block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #f23a2e !important; }
.block-16 figure .play-button:hover {
    opacity: 1; }
.block-16 figure .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%); }

.block-25 ul, .block-25 ul li {
    padding: 0;
    margin: 0; }

.block-25 ul li .date {
    color: rgba(255, 255, 255, 0.25);
    font-size: 0.8rem;
    display: block; }

.block-25 ul li a .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px; }
.block-25 ul li a .image img {
    border-radius: 4px;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }

.block-25 ul li a .text .heading {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #999999; }

.block-25 ul li a .meta {
    color: #f23a2e; }

.block-25 ul li a:hover img {
    opacity: .5; }

.block-25 ul li a:hover .text .heading {
    color: #fff; }

#date-countdown .countdown-block {
    color: rgba(255, 255, 255, 0.4); }

#date-countdown .label {
    font-size: 40px;
    color: #fff; }

.next-match .image {
    width: 50px;
    border-radius: 50%; }

.player {
    position: relative; }
.player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px; }
.player .team-number {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #f23a2e;
    border-radius: 50%;
    color: #fff; }
.player .team-number > span {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; }
.player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase; }
.player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase; }

.site-block-27 ul, .site-block-27 ul li {
    padding: 0;
    margin: 0; }

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px; }
.site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc; }
.site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #f23a2e;
    color: #fff;
    border: 1px solid transparent; }

.dentist-title {
    font-weight: bold;
    font-size: 20pt;
    font-family: Montserrat, sans-serif;
}


#request-section {
    background-color: #f4f4f4!important;
}

.madeby {
    font-size: 11pt;
}